*{
    list-style-type: none;
    text-decoration: none;
}
body{
    background: linear-gradient(245.59deg,#4d9559 0%,#38703d 28.53%,#133917 75.52%);
}
header{
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size: 30px;
    font-weight: 600;
    color: white;
    border: 1px solid white;
}
.nav{
    display: flex;
    gap: 50px;
    border: 1px solid white;
}

.nav a{
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.nav a:hover{
    border-bottom: 2px solid white;
}

section{
    border: 1px solid white;
    display: flex;
    height: 650px;
    
}

.social_media{
    border: 1px solid white;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    
}

.social_media a{
    color: white;
    font-size: 25px;
}

.text_area{
    border: 1px solid white;
    flex: 2;
}
.text_area h5{
    color: white;
}
.text_area h4{
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.text_area h1{
    color: white;
    font-size: 90px;
    line-height: 1;
}
.text_area p{
    color: white;
    font-size: 15px;
    line-height: 1.9;
}
.text_area a{
    display: inline-block;
    color: white;
    background: #4d9559;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}
.text_area  a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translate(8px);
}

.text_area  a.ctaa{
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;    
}

.text_area  a.ctaa i{
    vertical-align: middle;
    margin-right: 5px;
}
.img_area
{
    border: 1px solid white;
    flex:3;
}

.img_area img{
    width: 500px;
    height: auto;
    padding-top: 50px;
}

.scroll-down{
    border: 1px solid white;
    display: flex;
    justify-content: end;
    align-items: end;
    height: 180px;
}

.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background: #4d9559;
    border-radius: 30px;
    transition: all .50s ease;
    width: 25px;
}

.scroll-down i:hover{
    transform: translateY(-5px);
}
